{% extends 'base.html' %}
{% load static %}
{% block title %}Covid Tracker{% endblock title %}

{%block content %}

<style>
.Covid{
    width:50px;
    height:50px;
}
</style>

    <div class="container-fluid p-3 mb-2 bg-dark text-white">
        <h1 class="text-center">Covid Data <img src="{% static 'tracker/covid.png' %}" class="Covid" alt="" ></h1> 
    <div class=" bg-secondary text-white text-center "><h4>India Statistics</h4></div>
        <a href="{% url 'hospital-page' %}" class="btn btn-outline-secondary btn-sm d-flex justify-content-center">CLICK HERE TO CHECK FOR HOSPITAL & BEDS</a>
    
    <div class=" "><h7>SRC:The Ministry of Health and Family Welfare</h7></div>
       <div class=" "><h7>Made by : SHIVA MEHTA</h7></div>
    </div>

<div class="card-group m-2 max-width">

    <div class="card m-2">
    <div class="card text-white bg-primary " style="max-width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Total Confirmed</h5>
            {% for c in summary %}
            <p class="card-text">{{c.total}}</p>
            
        </div>
    </div>
    </div>

    <div class="card m-2">
    <div class="card text-white bg-secondary " style="max-width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Total Recovered</h5>
            <p class="card-text">{{c.recovered}}</p>
        </div>
    </div>
    </div>

    <div class="card m-2">
    <div class="card text-white bg-success " style="max-width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Total Deaths</h5>
            <p class="card-text">{{c.deaths}}</p>
        </div>
    </div>
    </div>

    <div class="card m-2">
    <div class="card text-white bg-danger " style="max-width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Total Active</h5>
            <p class="card-text">{{c.active}}</p>
        </div>
    </div>
    </div>
{% endfor %}

</div>


{% comment %} carousel {% endcomment %}

<style>
.carousel {
  width:100%;
  height:400px;
  
}
</style>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'tracker/coronavirus-safety-1.jpg' %}" class="carousel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'tracker/coronavirus-safety-3.png' %}" class="carousel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'tracker/coronavirus-safety-5.png' %}" class="carousel" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% comment %} table {% endcomment %}
<div class="p-3 mb-2 bg-light text-dark text-center background-image: var(--bs-gradient);"><h4>DATA STATE WISE</h4>
    <input class="form-control mr-sm-2 m-3" id="myinput" type="search" placeholder="Search for regional states.." aria-label="Search" onkeyup="searchfunction()">
</div>
   

<div class="container-fluid ">
  <table class="table table-striped .table-hover " id="mytable">
    <thead>
      <tr>
        <th scope="col">S.NO</th>
        <th scope="col">States</th>
        <th scope="col">Confirmed Cases</th>
        <th scope="col">Discharged</th>
        <th scope="col">Deaths</th>
        <th scope="col">Total Confirmed</th>
        
      </tr>
    </thead>
    <tbody>
      {% for c  in states %}
      <tr>
        
        <td>{{forloop.counter}}</td>
        <td>{{c.loc}}</td>
        <td>{{c.confirmedCasesIndian}}</td>
        <td>{{c.discharged}}</td>
        <td>{{c.deaths}}</td>
        <td>{{c.totalConfirmed}}</td>
      
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>


<!-- SCRIPT FOR SEARCH FUNCTION  -->
<script>
const searchfunction= ()=>{
    let filter = document.getElementById('myinput').value.toUpperCase();
    let mytable = document.getElementById('mytable');

    let tr = mytable.getElementsByTagName('tr');

    for(var i=0 ;i<tr.length;i++){

        let td = tr[i].getElementsByTagName('td')[1];

        if (td) {
            let textvalue = td.textContent || td.innerHTML;
            if (textvalue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            }else{
                tr[i].style.display = "none"
            }
        }
    }
}

</script>



{% endblock %}
